.container {
  height: 100%;
  overflow-y: hidden;
}

.left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  height: 100%;
  text-align: center;
  background-color: #fac213;
  border-radius: 15px;
}

.header {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 116px;
  text-align: center;
}

.innerRight {
  height: 100%;
  width: 100%;
}

.duckieData {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  height: 40%;
  padding: 40px;
  text-align: left;
}

.textDiv {
  width: 280px;
  height: 50px;
  padding: 13px;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.innerTitle {
  font-weight: 800;
  font-size: 20px;
}

.stuff {
  height: 100%;
}
